.page {
    width: 1250px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 60px;
}

#c-align-body {
    text-align: center;
    text-justify: auto;
    margin: auto;
    width: 80%;
    font-size: 50;
    padding: 10px;
}

#c-align-subtitle {
    text-align: center;
    text-justify: auto;
    margin: auto;
    width: 90%;
    font-size: 50;
    padding: 10px;
}

.centre_heading {
    text-align: center;
    padding: 3rem;
    border: 2px solid black;
}

.metro {
    color: #af8dc3;
    font-weight: bold;
}

.regional {
    color: #7fbf7b;
    font-weight: bold;
}

.bluetext {
    color: blue;
    font-weight: bold;
}